{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}

<nav class="telescope_background shadow_off">
    <div class="nav-wrapper">
        <img class="navbar_logo" src="{{@blog.logo}}" alt="Logo" />
        <a href="#" class="brand-logo">{{@blog.title}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="tag/Software"><i class="material-icons">search</i></a></li>
            <li><a href="tag/Software"><i class="material-icons">email</i></a></li>
            <li><a href="tag/Software"><i class="material-icons">add</i></a></li>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse navbar_burger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<ul class="side-nav" id="mobile-demo">
    <img src="{{asset "/vendor/img/navbar_mobile_header.png"}}" alt="navbar_mobile_header" />
    <li><a><i class="material-icons">email</i> Mail</a></li>
    <li><a><i class="material-icons">search</i> Search</a></li>
    <li><a><i class="material-icons">add</i> Add</a></li>
    <li><a href="tag/Software">#Software</a></li>
    <li><a href="tag/Software">#Wirtschaft</a></li>
    <li><a href="tag/Karriere">#Politk</a></li>
    <li><a href="tag/Software">#Karriere</a></li>
    <li><a href="tag/Software">#Games</a></li>
    <li><a href="tag/Karriere">#Events</a></li>
    <li><a href="tag/Karriere">#Plattentektonik</a></li>
</ul>
<nav class="telescope_background shadow_on navbar_upper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="tag/Software">#Software</a></li>
        <li><a href="tag/Software">#Wirtschaft</a></li>
        <li><a href="tag/Karriere">#Politk</a></li>
        <li><a href="tag/Software">#Karriere</a></li>
        <li><a href="tag/Software">#Games</a></li>
        <li><a href="tag/Karriere">#Events</a></li>
        <li><a href="tag/Karriere">#Plattentektonik</a></li>
    </ul>
</nav>
{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
    {{> "loop"}}
    </main>
