.fixed-header{
  width: 100% !important;
  position: fixed !important;
}

.fixed-logo{
  display: inline-block;
}

.margin-top-minus{
  margin-top: -10px;
}

.margin-top-plus{
  margin-top: 20px;
}

* Big cover image on the home page */
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

.header-image-post{
    width: 3em;
    height: 3em;
    margin: -1em auto 1em;
    overflow: hidden;
    border-radius: 3em;
    border: 2px solid #36D995;
    background: #2DB77E;
}

.header-cover{
  height: 250px !important;
}

.header-image{
    border-radius: 5em !important;
    width: 150px !important;
    height: 150px !important;
}

.main-content{
  background: white !important;
  margin-top: -160px !important;
}

.post-content{
      padding-top: 0.2em; !important;
}

.post-header{
      padding-top: 1.5em !important;
}

.post-footer {
    margin-top: 2em !important;
    margin-bottom: -2em !important;
}

.post-tags-top {
  margin-left: 10% !important;
}

.loop-font{
  font-size: 13px !important;
  color: #36D995 !important;
}

.about-row-1-green {
  background-color: #36D995;
  height: 500px;
  width: 50%;
  float:right;
}

.about-row-1-black {
  background-color: #595B66;
  height: 500px;
  width: 50%;
  float:left;
}
