.telescope_background {
    background-color: #36D995;
}

.shadow_off {
    box-shadow: none !important;
}

.shadow_on {
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.47) !important;
}

.navbar_logo {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

.navbar_burger {
    margin-right: 5px;
    float: right !important;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.brick{
  display: inline-block;
}

@media (max-width:992px) {
    .navbar_upper {
        display: none;
    }
}
